{% from "macros.jinja" import row_noipsw, row_beta -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
! Download URL
! File Size
{% for info in get_firmwares(models, "tvOS/21x - 17.x", True) %}
|-
{{ row_beta(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

{% macro make_table_4k(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
{% for info in get_firmwares(models, "tvOS/21x - 17.x", True) %}
|-
{{ row_noipsw(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== [[Apple TV HD]] ==
{{ make_table(['AppleTV5,3']) }}

== [[Apple TV 4K]] ==
{{ make_table_4k(['AppleTV6,2']) }}

== [[Apple TV 4K (2nd generation)]] ==
{{ make_table_4k(['AppleTV11,1']) }}

== [[Apple TV 4K (3rd generation)]] ==
{{ make_table_4k(['AppleTV14,1']) }}

[[Category:Firmware]]
