{% from "macros.jinja" import row_release_bb -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Baseband
! Release Date
! Download URL
! SHA1 Hash
! File Size
! Documentation
{% for info in get_firmwares(models, jsonpath, False) %}
|-
{{ row_release_bb(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

{% if version <= 15 %}
== [[iPad mini 4]] ==
{{ make_table(['iPad5,1', 'iPad5,2']) }}

{% endif %}
== [[iPad mini (5th generation)]] ==
{{ make_table(['iPad11,1', 'iPad11,2']) }}

== [[iPad mini (6th generation)]] ==
{{ make_table(['iPad14,1', 'iPad14,2']) }}

[[Category:Firmware]]
