{% from "macros.jinja" import row_release_bb -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Baseband
! Release Date
! Download URL
! SHA1 Hash
! File Size
! Documentation
{% for info in get_firmwares(models, jsonpath, False) %}
|-
{{ row_release_bb(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

{% if version <= 16 %}
== [[iPad Pro (12.9-inch)]] ==
{{ make_table(['iPad6,7', 'iPad6,8']) }}

== [[iPad Pro (9.7-inch)]] ==
{{ make_table(['iPad6,3', 'iPad6,4']) }}

{% endif %}
== [[iPad Pro (12.9-inch) (2nd generation)]] ==
{{ make_table(['iPad7,1', 'iPad7,2']) }}

== [[iPad Pro (10.5-inch)]] ==
{{ make_table(['iPad7,3', 'iPad7,4']) }}

== [[iPad Pro (11-inch)]] ==
{{ make_table(['iPad8,1', 'iPad8,2', 'iPad8,3', 'iPad8,4']) }}

== [[iPad Pro (12.9-inch) (3rd generation)]] ==
{{ make_table(['iPad8,5', 'iPad8,6', 'iPad8,7', 'iPad8,8']) }}

== [[iPad Pro (11-inch) (2nd generation)]] ==
{{ make_table(['iPad8,9', 'iPad8,10']) }}

== [[iPad Pro (12.9-inch) (4th generation)]] ==
{{ make_table(['iPad8,11', 'iPad8,12']) }}

== [[iPad Pro (11-inch) (3rd generation)]] ==
{{ make_table(['iPad13,4', 'iPad13,5', 'iPad13,6', 'iPad13,7']) }}

== [[iPad Pro (12.9-inch) (5th generation)]] ==
{{ make_table(['iPad13,8', 'iPad13,9', 'iPad13,10', 'iPad13,11']) }}
{% if version >= 16 %}

== [[iPad Pro (11-inch) (4th generation)]] ==
{{ make_table(['iPad14,3', 'iPad14,4']) }}

== [[iPad Pro (12.9-inch) (6th generation)]] ==
{{ make_table(['iPad14,5', 'iPad14,6']) }}
{% endif %}

[[Category:Firmware]]
