{% from "macros.jinja" import row_release -%}

{% macro make_table(models) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
! Release Date
! Download URL
! SHA1 Hash
! File Size
! Documentation
{% for info in get_firmwares(models, "visionOS/21x - 1.x") %}
|-
{{ row_release(info, models) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== [[Apple Vision Pro]] ==
{{ make_table(['RealityDevice14,1']) }}

[[Category:Firmware]]
