{% from "macros.jinja" import row_watch -%}

{% macro make_table(models, basebands) %}
{| class="wikitable"
|-
! Version
! Build
! Keys
{% if basebands %}
! Baseband
{% endif %}
! Release Date
{% for info in get_firmwares(models, "watchOS/21x - 10.x", True) %}
|-
{{ row_watch(info, models, basebands) | trim }}
{% endfor %}
|}
{%- endmacro -%}

== [[Apple Watch Series 4]] ==
=== [[N131sAP|Watch4,1]] ===
{{ make_table(['Watch4,1'], basebands=False) }}

=== [[N131bAP|Watch4,2]] ===
{{ make_table(['Watch4,2'], basebands=False) }}

=== [[N141sAP|Watch4,3]] ===
{{ make_table(['Watch4,3'], basebands=True) }}

=== [[N141bAP|Watch4,4]] ===
{{ make_table(['Watch4,4'], basebands=True) }}

== [[Apple Watch Series 5]] ==
=== [[N144sAP|Watch5,1]] ===
{{ make_table(['Watch5,1'], basebands=False) }}

=== [[N144bAP|Watch5,2]] ===
{{ make_table(['Watch5,2'], basebands=False) }}

=== [[N146sAP|Watch5,3]] ===
{{ make_table(['Watch5,3'], basebands=True) }}

=== [[N146bAP|Watch5,4]] ===
{{ make_table(['Watch5,4'], basebands=True) }}

== [[Apple Watch SE (1st generation)|Apple Watch SE]] ==
=== [[N140sAP|Watch5,9]] ===
{{ make_table(['Watch5,9'], basebands=False) }}

=== [[N140bAP|Watch5,10]] ===
{{ make_table(['Watch5,10'], basebands=False) }}

=== [[N142sAP|Watch5,11]] ===
{{ make_table(['Watch5,11'], basebands=True) }}

=== [[N142bAP|Watch5,12]] ===
{{ make_table(['Watch5,12'], basebands=True) }}

== [[Apple Watch Series 6]] ==
=== [[N157sAP|Watch6,1]] ===
{{ make_table(['Watch6,1'], basebands=False) }}

=== [[N157bAP|Watch6,2]] ===
{{ make_table(['Watch6,2'], basebands=False) }}

=== [[N158sAP|Watch6,3]] ===
{{ make_table(['Watch6,3'], basebands=True) }}

=== [[N158bAP|Watch6,4]] ===
{{ make_table(['Watch6,4'], basebands=True) }}

== [[Apple Watch Series 7]] ==
=== [[N187sAP|Watch6,6]] ===
{{ make_table(['Watch6,6'], basebands=False) }}

=== [[N187bAP|Watch6,7]] ===
{{ make_table(['Watch6,7'], basebands=False) }}

=== [[N188sAP|Watch6,8]] ===
{{ make_table(['Watch6,8'], basebands=True) }}

=== [[N188bAP|Watch6,9]] ===
{{ make_table(['Watch6,9'], basebands=True) }}

== [[Apple Watch SE (2nd generation)|Apple Watch SE]] ==
=== [[N143sAP|Watch6,10]] ===
{{ make_table(['Watch6,10'], basebands=False) }}

=== [[N143bAP|Watch6,11]] ===
{{ make_table(['Watch6,11'], basebands=False) }}

=== [[N149sAP|Watch6,12]] ===
{{ make_table(['Watch6,12'], basebands=True) }}

=== [[N149bAP|Watch6,13]] ===
{{ make_table(['Watch6,13'], basebands=True) }}

== [[Apple Watch Series 8]] ==
=== [[N197sAP|Watch6,14]] ===
{{ make_table(['Watch6,14'], basebands=False) }}

=== [[N197bAP|Watch6,15]] ===
{{ make_table(['Watch6,15'], basebands=False) }}

=== [[N198sAP|Watch6,16]] ===
{{ make_table(['Watch6,16'], basebands=True) }}

=== [[N198bAP|Watch6,17]] ===
{{ make_table(['Watch6,17'], basebands=True) }}

== [[Apple Watch Ultra]] ==
{{ make_table(['Watch6,18'], basebands=True) }}

== [[Apple Watch Series 9]] ==
=== [[N207sAP|Watch7,1]] ===
{{ make_table(['Watch7,1'], basebands=False) }}

=== [[N207bAP|Watch7,2]] ===
{{ make_table(['Watch7,2'], basebands=False) }}

=== [[N208sAP|Watch7,3]] ===
{{ make_table(['Watch7,3'], basebands=True) }}

=== [[N208bAP|Watch7,4]] ===
{{ make_table(['Watch7,4'], basebands=True) }}

== [[Apple Watch Ultra 2]] ==
{{ make_table(['Watch7,5'], basebands=True) }}

[[Category:Firmware]]
